{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content%}

<title>
    {% block title %}Clientes{% endblock %}
</title>

<a class="btn btn-success btn-sm" href="/afiliado/agregar" role="button" >Nuevo</a>
<a class="btn btn-info btn-sm" href="/afiliado" role="button" >Activos</a> 
<a class="btn btn-info btn-sm" href="/afiliador" role="button" >Retirados</a>  
<a class="btn btn-info btn-sm" href="/afiliadon" role="button" >Nivelados</a> 
<a class="btn btn-info btn-sm" href="/afiliadoo" role="button" >Ordenados</a> 
<table class="table">
    <thead>
      <tr>

        <th>Nombre</th>
        <th>Telefono</th>
        <th>Rango</th>
        <th>Ciudad</th>
        <th>Departamento</th>          
      </tr>
    </thead>
    
    <tbody>

  
        <strong>Total: {{conteo}} {{n}}</strong>
        
   
   {% if lista_afiliados %}

      {% for afiliado in lista_afiliados %}
      <tr> 

        <td><a href="/afiliado/{{afiliado.id}}" class="btn btn-link" data-toggle="collapse"><strong>{{ afiliado.nombre }} {{ afiliado.apellido }}
         
        </strong></a>    

        <td>{{ afiliado.prefijo }}+ {{ afiliado.telefono }}</td>
        <td>{{ afiliado.rango }}</td> 
        <td>{{ afiliado.ciudad }}</td> 
        <td>{{ afiliado.departamento }}</td>
        
       

       {% for mensaje in mensaje %}
        <td>         
          <a target="_blank" 
             href="https://wa.me/{{afiliado.prefijo}}{{afiliado.telefono}}?text={{mensaje.saludo}}%20{{afiliado.nombre}}%20{{afiliado.apellido}}%20{{mensaje.asunto}}{{afiliado.mensualidad}}%20{{mensaje.asunto2}}%20{{ afiliado.servicios.all|join:', '}}%20{{mensaje.mensaje}}%20{{mensaje.despedida}}"
             class="btn btn-success">
                <span class="glyphicon glyphicon-bell"></span> 
          </a>
        {% endfor %}
          <a class="btn btn-info btn-sm" href="/afiliado/{{afiliado.id}}/editar" role="button" >Editar</a>
          <a class="btn btn-danger btn-sm" href="/afiliado/{{afiliado.id}}/eliminar" role="button" >Eliminar</a>
        </td>
        <div class="container">
  
</div>

      </tr>
      {% endfor %}

      {% else %}
      <h1>No hay registros de Afiliados </h1>
      {% endif %}
    </tbody>
  </table>

{% endblock %}
